<script type="text/javascript">
    (function () {
        console.log('⏳ Live reload enabled...')

        const socket = new WebSocket('ws://{liveReloadHostname}:{liveReloadPort}/live-reload')

        socket.onopen = function () {
            console.log('✅ Live reload connected.')
        }

        socket.onmessage = function (msg) {
            if (msg.data === 'reload') {
                console.log('🔄 Reloading...')
                location.reload()
            }
        }
    })()
</script>